:root {
    --fontBase: 'Poppins', sans-serif;
    --white: #FFFFFF;
    /* --colorBase : #F3F5FC; */
    --colorBase : red;

  }

body{
    align-items: center;
    background: #F3F5FC;
    position: relative;

    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 2fr 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; */
}

.super-parent{
    margin-top: 2%;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 0.25fr 1.5fr 0.25fr; */
    width: 100%;
}
    
.parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto; 
    
    height: 90vh;
    position: relative;
}

textarea{
    border: none;
    font-size: larger;
    align-items: center;
    resize: none;
}

.left{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 85%;
    margin-top: 3%;

}

.container{
    height: 100%;
    width: 100%;
    height: 75vh;

}

.text{
    width: 95%;
    height: 90%;
    background: none;
}

.rigth{
    align-items: center;
    justify-content: center;
    display: flex;
    background: #FFFFFF;
    margin: 2.5%;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10% ;
    height: 100%;
}

.result{
    width: 100%;
    height: 100%;
}

.buttons{
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
}

button{
    border-radius: 20px;
    width: 50%;
    height: 3rem;
    margin: 1%;
}

.primary-button{
    background-color: #0A3871;
    color: #FFFFFF;
}

.primary-button:hover{
    background-color: #D8DFE8;
    color: #0A3871;
}

.secondary-button{
    background-color: #D8DFE8;
    color: #0A3871;
}

.secondary-button:hover{
    background-color: #0A3871;
    color: #FFFFFF;
}

.footer{
    display: grid;
    background: #D8DFE8;
    border-radius: 12px;
}

.button-icon img {
    vertical-align: middle;
}

.footer-content {
text-align: center;
}

.footer-logo {
}

.footer .social {
justify-content: center;
padding: 0;
}

.footer-container{
    margin-top: 2%;
}

.hide{
    visibility: hidden;
}

.erase{
    display: none;
}

@media screen and (max-width: 1024px) {


    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.75fr .5fr;
        grid-column-gap: 0px;
        grid-row-gap: 2.5rem;
        margin-top: 2rem;
    }

    .buttons{
        margin-top: 1.5rem;
    }

    .img{
        display: none;
    }

    .result{
        height: 100%;
    }

    .hide{
        display: none;
    }

    .rigth{
        height: 75%;
    }

    .footer{
        margin-top: 5rem;
    }
}