:root {
    --fontBase: 'Poppins', sans-serif;
    --background: #F3F5FC;
    --primary_button: #0A3871;
    --secondary_button: #D8DFE8;
    --right_backgorund: #FFFFFF;
    --footer_background: #D8DFE8;
  }

body{
    align-items: center;
    background: var(--background);
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 80% 15%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.super-parent{
    margin-top: 2%;
    width: 100%;
}
    
.parent {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 95%;
    margin-left: 5%;
    margin-right: 5%; 
    
    height: 80vh;
    position: relative;
}

.logo{
    margin-top: 3%;
}

textarea{
    border: none;
    font-size: larger;
    align-items: center;
    resize: none;
}

textarea:focus {
    outline: none;
}

.left{
    align-items: center;
    justify-content: center;
}

.container{
    height: 100%;
    width: 100%;
}

.text{
    width: 95%;
    height: 90%;
    background: none;
}

.rigth{
    align-items: center;
    justify-content: center;
    display: flex;
    background: var(--right_backgorund);
    border-radius: 3rem ;
    height: 70vh;
    position: relative;
    margin-top: 7%;
    
}

.container-result{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.result{
    margin: 3.5%;
    width: 93%;
    height: 75%;
    display: flex;
}

.img{
    max-width: 100%;
    height: auto; 
}

.buttons{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

button{
    border-radius: 20px;
    width: 50%;
    height: 3rem;
    margin: 1%;
}

.primary-button{
    background-color: var(--primary_button);
    color: #FFFFFF;
}

.primary-button:hover{
    background-color: var(--secondary_button);
    color: var(--primary_button);
}

.secondary-button{
    background-color: #D8DFE8;
    color: var(--primary_button);
}

.secondary-button:hover{
    background-color: var(--primary_button);
    color: #FFFFFF;
}

.footer{
    display: grid;
    background: var(--footer_background);
    border-radius: 12px;
}

.button-icon img {
    /* vertical-align: middle; */
}

.footer-content {
    text-align: center;
}

.footer .social {
    justify-content: center;
    padding: 0;
    text-align: center;
}

.footer-container{
    margin-top: 2%;
}

.social-button {
    background-color: transparent; 
    border: none; 
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

.social-button:hover{
    transform: scale(1.1); 
  }

.hide{
    visibility: hidden;
}

.erase{
    display: none;
}

@media screen and (max-width: 1024px) {
    .parent {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% auto;
        grid-row-gap: 0px;    
        margin-bottom: 0%;    
    }

    .rigth{
        height: 80%;
    }

    .text{
        height: 60%;
    }

    .result{
        height: 60%;
        width: 95%;
    }

    .img{
        display: none;
    }

    .hide{
        display: none;
    }

    .footer{
        margin-top: 0;
    }
}